schema/ex7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="laurates">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="laurate" type="laurateType" minOccurs="0" maxOccurs="unbounded"/>                
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="laurateType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="category" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
